// Placeholder to allow customizing styles.

$link-base-color:       #0040c9 !default;
$link-visited-color:    darken($link-base-color, 5%) !default;

a {
    color: $link-base-color;
  
    &:visited {
      color: $link-visited-color;
    }
  
    &:hover {
      color: $text-color;
    }
  }